{{/*

  Created by Wolveic Catkin (Wolveric#0897), 2020
  
  Trigger Type: Command
  Trigger: lfg
  Case Sensetive: false
  
*/}}

{{/* Line collects custom arguments, needed for script to work. Do not touch without prior knowledge. */}}
{{$args := parseArgs 1 "Please give a game name/abbreviation." (carg "string" "Game Arg") (carg "string" "Game info")}}

{{/* CONFIGURATION START */}}

{{/* Override on roles and users who can use the command without needing the requesite game role. */}}
{{$override := or (hasRoleID 0) (eq .User.ID .Guild.OwnerID)}}

{{/* Game roles, and names. Format by name/abriviation, in quoration marks, followed by role ID. IDs can be repeated multiple times with different names, letting users use different names for games. ONLY USE LOWERCASE, WITH NO SPACES FOR FOR NAMES. */}}
{{/* "examplegamename" and "egn" would be replaced with the name or abbriviation you want users to use for a game, and 0 would be replaced with the ID of the role related to that game.*/}}
{{$role_dict := sdict "examplegamename" 0 "egn" 0}}

{{/* CONFIGURATION END */}}

{{/* Code DO NOT TOUCH WITHOUT PRIOR KNOWLEDGE. */}}

{{$game := lower (reReplace "\\s" ($args.Get 0) "")}}
{{if $x := $role_dict.Get $game)}}
	{{if or ($override) (hasRoleID $x)}} 
		Hey guys! {{$.User.Mention}} is looking for someone to play {{mentionRoleID $x}} with! Come join them!
	{{else}}
		Sorry {{$.User.Mention}}, **but you do not have the correct role to call that.** Please check **Pinned Messages**, to be assigned it.
	{{end}}
{{else}}
	Sorry {{.User.Mention}}, but something went wrong. Please try changing the name/abbreviation that you used.
{{end}}
