{{/*

  Created by Wolveric Catkin (https://github.com/Wolveric), 2021
  Licence: GNU GPL v2.0
  Trigger Type: RegEx
  Trigger: \A(-|<@!?204255221017214977>)\s*(g(ive)?|a(dd)?|r(emove)?|t(ake)?)role( +|\z)
  Case sensitive: false
  
  Description: Created as an override enhancement to the built-in role assignment management commands.
  This will enable simple, controlled management, over the specific roles, that can be managed with these commands, while also allowing the use of role mentions for assignment.

  ! NOTE !
  
  This script is designed to override the -giverole and -takerole commands, it is important to put in place controls for use of the base command for this to be successful.
  Additionally, the command automatically matches against server prefixes interally, so make sure you've changed your prefix in the trigger, if your server prefix is different, or the system won't work.
  I recommend this https://regex101.com site, if you have any issue troubleshooting when changing your prefix, with Golang selected on the right-hand side.

  ! NOTE !
  
 */}}

{{/* CONFIGURATION START */}}

	{{/* Do you want to exclude bots from your list of manageable users? */}}
	{{$exclude_bots := true}}

    {{/* 
    
        The configuration for this command, involves entering all valid assignment arguments, into this collection, as shown in the example.
        It's recommended, this be the name of the role, followed by it's ID, to allow usage of the command, mirroring the built-in system, as well as for readability.
    
    */}}

    {{$roles := cslice "Example" 0}}

	{{/*

		Additionally, this second collection defines a list of role IDs giving overriding permission to use this command, in the control panel.
		Following a similar recommendation above, this is recommended to be the name of the role as the key, followed by it's ID, once again, as shown.

		! NOTE !

		Do NOT add roles, that aren't selected in the drop-down in the control panel, and don't have permission to manage roles, as this will allow them to use the command causing it to error.

		! NOTE !

	*/}}

	{{$override_roles := sdict "Example" 0}}

{{/* CONFIGURATION END */}}

{{addReactions "discord_loading:714051544265392229"}}
{{$pre_start := str .Guild.ID|len|add 15}}
{{$cmd_out := exec "prefix"}}
{{$pre_reg := sub (len $cmd_out) 1|slice $cmd_out $pre_start}}
{{$pre_reg := split $prefix `\E`|joinStr `\E\\E\Q`|printf `(?i)\A(\Q%s\E|<@!?204255221017214977>)\s*(g(ive)?|a(dd)?)`}}

{{$add := reFind $pre_reg .Cmd}}
{{$usage := "```RemoveRole <Member:Mention/ID> <Role:Text/Mentiond/ID>```"}}
{{if $add}}
	{{$usage = "```GiveRole <Member:Mention/ID> <Role:Text/Mentiond/ID>``````[-d Duration:Duration]```"}}
{{end}}
{{$usage = printf "%s\nInvalid arguments provided: " $usage}}

{{$args := cslice}}
{{$duration := toDuration ""}}
{{$dur_ind := -1}}

{{if and $add (in .CmdArgs "-d")}}
	{{range $i, $v := .CmdArgs}}
		{{- if eq $i $dur_ind -}}
			{{- $duration = toDuration $v -}}
		{{- else if eq . "-d" -}}
			{{- $dur_ind = add $i 1 -}}
		{{- else -}}
			{{- $args = $args.Append $v -}}
		{{- end -}}
	{{end}}
{{else}}
	{{$args = $args.AppendSlice .CmdArgs}}
{{end}}

{{$args = $args.StringSlice}}

{{if gt (len $args) 1}}
	{{$targ := reReplace "<@!?(\\d{17,})>" (index $args 0) "$1"}}
	{{if $targ := toInt64 $targ}}

		{{if $targ := getMember $targ}}

			{{$role := reReplace "<@&(\\d{17,})>" (joinStr " " (slice $args 1)) "$1"}}

			{{if gt $dur_ind -1}}
				{{$role = reReplace "(?s)\n.*" $role ""}}
			{{end}}

			{{$manage_perms := inFold  (index (split (exec "viewperms") "\n") 2) "ManageRoles"}}
			{{$can_manage := $manage_perms}}
			{{$exclude_bots = or (not (and $exclude_bots .User.Bot)) (and $manage_perms false)}}
		
			{{if not $can_manage}}
				{{- range $override_roles -}}
					{{- $can_manage = or (hasRoleID .) $can_manage -}}
				{{- end -}}
			{{end}}

			{{if $can_manage}}

				{{$mem_roles := .Member.Roles}}
				{{$targ_roles := $targ.Roles}}
				{{$yag_roles := (getMember 204255221017214977).Roles}}
				{{$info := sdict "User_Rank" 0 "Targ_Rank" 0 "YAG_Rank" 0 "Role_Rank" 0}}

				{{range .Guild.Roles}}
					{{- or (and (in $mem_roles .ID) (gt .Position $info.User_Rank) .Position) $info.User_Rank|$info.Set "User_Rank" -}}
					{{- or (and (in $targ_roles .ID) (gt .Position $info.Targ_Rank) .Position) $info.Targ_Rank|$info.Set "Targ_Rank" -}}
					{{- or (and (in $yag_roles .ID) (gt .Position $info.YAG_Rank) .Position) $info.YAG_Rank|$info.Set "YAG_Rank" -}}
					{{- or (and (eq $role (lower .Name) (str .ID)) (not $info.Role_Rank) .Position) $info.Role_Rank|$info.Set "Role_Rank" -}}
				{{end}}

				{{$outranks := and (ne $targ.User.ID $.Guild.OwnerID) (or (eq .Member.User.ID .Guild.OwnerID) (gt $info.User_Rank $info.Targ_Rank))}}

				{{if $outranks}}

					{{if $exclude_bots}}

						{{if and $info.Role_Rank (gt $info.YAG_Rank $info.Role_Rank)}}

							{{if or (and $manage_perms false) (inFold $roles $role)}}
								{{if $add}}
									{{exec "grole" $targ.User $role (printf "-d %s" $duration.String)}}
								{{else}}
									{{exec "trole" $targ.User $role}}
								{{end}}
							{{else}}
								Role not found in accessible role list.
							{{end}}

						{{else if $info.Role_Rank}}
							The bot permissions has been incorrectly set up on this server for it to run this command: Missing Permissions
						{{else}}
							Could not find role
						{{end}}

					{{else}}
						You do not have permission to target bots.
					{{end}}

				{{else}}
					Unable to run the command: Can't use moderation commands on users ranked the same or higher than you
				{{end}}
			{{else}}
				Unable to run the command: The **{{reFind "[[:alpha:]]{8,10}" $usage}}** command requires the **Manage Roles** permission in this channel or additional roles set up by admins, you don't have it. (if you do contact bot support)
			{{end}}
		{{else}}
			Member not found.
		{{end}}

	{{else}}
		{{index $args 0|printf "%sImproper mention \"%s\"" $usage}}
	{{end}}
	
{{else}}
	{{printf "%sNot enough arguments passed" $usage}}
{{end}}
{{deleteMessageReaction nil .Message.ID 204255221017214977 "discord_loading:714051544265392229"}}
