{{/*

  Created by Wolveric Catkin (Wolveric#0897, 2020
  License: MIT
  Trigger Type: Contains
  Trigger: the dawn of time
  Case sensetive: false
  
  Description: It's a programming joke in the form of a Discord embed. That's it.
  
*/}}

{{sendMessage nil (cembed "footer" (sdict "text" "Also known as") "timestamp" .UnixEpoch)}}
