{{/*

  Created by Wolveric Catkin (https://github.com/Wolveric), 2021
  License: MIT
  Trigger Type: RegEx
  Trigger: \A(-|<@!?204255221017214977>)\s*(d(ooms)?d(ay)?|t(ime)?(until|t(il)?)m(idnight)?)( +|\z)
  Case sensitive: false
  
  Description: A little script I made for fun, that calculates the time until midnight, localised to the user's registered timezone.
  
 */}}
{{$zone := index (split (exec "setz" "-u") "`") 1}}
{{$now := currentTime}}
{{$miz := newDate $now.Year $now.Month $now.Day 24 0 0 $zone}}
Time until midnight: {{humanizeDurationSeconds ($miz.Sub $now)}}
